body{
    background-color: #e6e6e6;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;  
    padding: 50px;
    max-width: 1400px;
    margin: 0 auto; 
}

.movie-card{
    background-color:darkgray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card img {
    width: 100%;  
    height: 600px;  
    display: block;  
    object-fit: cover;
}

.movie-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);  
}

.back-arrow{
    position: absolute;
    width: 40px;
    height: 40px;
}

.back-arrow a img {
    transition: all 0.3s ease;  
}

.back-arrow:hover{
    transform: scale(1.2);  
}