body{
    background-color: #e6e6e6;
}

.site-header{
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
}

.datetime{
    position: absolute;
    top: 70px;
    right: 50px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.5rem;
}

.greeting{
    font-size: 20px;
}
main{
    margin-top: 300px;
    padding-left: 40px;
}
.about{
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.7rem;
}

.social-links img{
    width: 35px;
    height: 35px;
}

.social-links {
    position: absolute;
    bottom: 40px;
    right: 50px;
    
}

.email{
    padding-left: 5px;
}

.movies-link{
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.6rem;
}

.movies-link a {
    text-decoration: none;
    color: #000000;
}

.movies-link a:hover {
    text-decoration: underline;
    color: gray;
    transform: scale(1.2);
}


.social-links a img {
    transition: all 0.3s ease;  
}

.social-links a img:hover {
    transform: scale(1.2);  
}

.greeting img{
    width: 20px;
    height: 20px;
}






